Source: omhacks
Section: misc
Priority: extra
Maintainer: Enrico Zini <enrico@debian.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://git.debian.org/?p=users/enrico/omhacks.git;a=blob;f=README
Vcs-Git: git://git.debian.org/users/enrico/omhacks.git
Vcs-Browser: http://git.debian.org/?p=users/enrico/omhacks.git

Package: omhacks
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: command line interface to OpenMoko hardware
 This has only been tested on the FreeRunner.

Package: pm-utils-light
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: pm-utils replacement for embedded hardware
 Pros:
 * It tries its best to run hooks in exactly the same way as pm-utils.
 * It's faster
 * It can load hooks from a .so file, which is much faster, avoids
   context switches and allows to keep state conveniently in memory.
 * .so files will be loaded also if they are not executable. Install a
   non-executable .so file to have it loaded by pm-utils light but ignored by
   pm-utils.
 * It allows to cancel a resume, for example in order to go back to sleep in
   case of a resume for usb disconnect.
 .
 Cons:
 * No support for quirks
 * It does not ship the functions and pm-functions shell libraries, so plugins
   cannot make use of them

Package: libomhacks-dev
Section: libdevel
Architecture: any
Depends: libomhacks0 (= ${binary:Version}), ${misc:Depends}
Description: library of useful functions to control OpenMoko hardware
 This has only been tested on the FreeRunner.
 .
 This is the development library.

Package: libomhacks0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library of useful functions to control OpenMoko hardware
 This has only been tested on the FreeRunner.
 .
 This is the shared library.
