Source: omhacks
Section: misc
Priority: extra
Maintainer: Enrico Zini <enrico@debian.org>
Build-Depends: debhelper (>= 7), cmake (>= 2.6)
Standards-Version: 3.8.3
Homepage: http://git.debian.org/?p=pkg-fso/omhacks.git;a=blob;f=README
Vcs-Git: git://git.debian.org/git/pkg-fso/omhacks.git
Vcs-Browser: http://git.debian.org/?p=pkg-fso/omhacks.git

Package: omhacks
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: command line interface to OpenMoko hardware
 This has only been tested on the FreeRunner.

Package: libomhacks-dev
Section: libdevel
Architecture: any
Depends: libomhacks0 (= ${binary:Version}), ${misc:Depends}
Description: library of useful functions to control OpenMoko hardware
 This has only been tested on the FreeRunner.
 .
 This is the development library.

Package: libomhacks0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library of useful functions to control OpenMoko hardware
 This has only been tested on the FreeRunner.
 .
 This is the shared library.
